* {
    font-family: Roboto,Helvetica,sans-serif;
}

h1{
    font: 16px #444444;
    text-align: center;
}

.container{
    text-align: center;
    margin: 5px;
    font-size: 13px;
}

.offer{
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc
}

.offerTitle{
    font: 12px bold #ffffff;
    background-color: #00b3b3;
    padding: 15px;
}

.offerContents{
    padding: 20px;
    background-color: #fafafa;
}

table{
    width: 100%;
    background-color: #ffffff;
}
th{
    font: 12px bold #777777;
    padding: 10px;
    text-align: left;
    border: 1px solid #f1f1f1;
}
td{
    font-weight: lighter #444444;
    padding: 20px 10px;
    text-align: left;
    border: 1px solid #f1f1f1;
}

.finalValue{
    font-weight: bold #f1f1f1;
}
